In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)

In [5]:
df = pd.DataFrame(np.random.randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [6]:
df

          W         X         Y         Z
A -0.116773  1.901755  0.238127  1.996652
B -0.993263  0.196800 -1.136645  0.000366
C  1.025984 -0.156598 -0.031579  0.649826
D  2.154846 -0.610259 -0.755325 -0.346419
E  0.147027 -0.479448  0.558769  1.024810

In [7]:
df['W']

A   -0.116773
B   -0.993263
C    1.025984
D    2.154846
E    0.147027
Name: W, dtype: float64

In [9]:
type(df['W'])

pandas.core.series.Series

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df[['Z','W']]

          Z         W
A  1.996652 -0.116773
B  0.000366 -0.993263
C  0.649826  1.025984
D -0.346419  2.154846
E  1.024810  0.147027

In [12]:
df.W

A   -0.116773
B   -0.993263
C    1.025984
D    2.154846
E    0.147027
Name: W, dtype: float64

In [14]:
df['NEW'] = df['W'] + df['Z']

In [16]:
df

          W         X         Y         Z       NEW
A -0.116773  1.901755  0.238127  1.996652  1.879879
B -0.993263  0.196800 -1.136645  0.000366 -0.992897
C  1.025984 -0.156598 -0.031579  0.649826  1.675810
D  2.154846 -0.610259 -0.755325 -0.346419  1.808428
E  0.147027 -0.479448  0.558769  1.024810  1.171837

In [17]:
df.drop('NEW', axis=1)

          W         X         Y         Z
A -0.116773  1.901755  0.238127  1.996652
B -0.993263  0.196800 -1.136645  0.000366
C  1.025984 -0.156598 -0.031579  0.649826
D  2.154846 -0.610259 -0.755325 -0.346419
E  0.147027 -0.479448  0.558769  1.024810

In [18]:
df

          W         X         Y         Z       NEW
A -0.116773  1.901755  0.238127  1.996652  1.879879
B -0.993263  0.196800 -1.136645  0.000366 -0.992897
C  1.025984 -0.156598 -0.031579  0.649826  1.675810
D  2.154846 -0.610259 -0.755325 -0.346419  1.808428
E  0.147027 -0.479448  0.558769  1.024810  1.171837

In [20]:
df.drop('NEW', axis=1, inplace=True)

In [21]:
df

          W         X         Y         Z
A -0.116773  1.901755  0.238127  1.996652
B -0.993263  0.196800 -1.136645  0.000366
C  1.025984 -0.156598 -0.031579  0.649826
D  2.154846 -0.610259 -0.755325 -0.346419
E  0.147027 -0.479448  0.558769  1.024810

In [22]:
df.loc['A', 'Z']

1.9966522853695665

In [23]:
df.loc['A']

W   -0.116773
X    1.901755
Y    0.238127
Z    1.996652
Name: A, dtype: float64

In [25]:
type(df.loc['A'])

pandas.core.series.Series

In [26]:
df.loc[['A', 'E'],['W','Z']]

          W         Z
A -0.116773  1.996652
E  0.147027  1.024810

In [27]:
df

          W         X         Y         Z
A -0.116773  1.901755  0.238127  1.996652
B -0.993263  0.196800 -1.136645  0.000366
C  1.025984 -0.156598 -0.031579  0.649826
D  2.154846 -0.610259 -0.755325 -0.346419
E  0.147027 -0.479448  0.558769  1.024810

In [28]:
df.iloc[1:4, 2:]

          Y         Z
B -1.136645  0.000366
C -0.031579  0.649826
D -0.755325 -0.346419